



<h1>Page reclamation  {{ forum.titre}} </h1>
<p>prenom : {{ forum.contenu }}</p>
<p>email : {{ forum.image}}</p>
 Ecrit le {{forum.createdAt | date('d/m/Y')}} à {{forum.createdAt | date('H:i')}}
  