{% extends 'base/base.html.twig ' %}
{% form_theme formReclamation  'bootstrap_4_layout.html.twig' %}

{% block titre %}
reclamation
{% endblock %} 





{% block corp%}


     
<link rel="stylesheet" href="css/reclamation.css">
<div class="wrapper">
    <div class="title">
      reclamation
    </div>
    
  {{ form_start (formReclamation)}}
       <div class="inputfield">
        
        {{ form_row( formReclamation.nom,{'attr' : {'placeholder' : "saisir votre nom"}}) }}
       </div>  
        <div class="inputfield">
        
         {{ form_row( formReclamation.prenom,{'attr' : {'placeholder' : "saisir votre prenom"}}) }}
       </div>  
     
        <div class="inputfield">
      
       {{ form_row( formReclamation.email,{'attr' : {'placeholder' : "saisir votre email"}}) }}
       </div> 
    
      <div class="inputfield">
      
        {{ form_row( formReclamation.contenu,{'attr' : {'placeholder' : "saisir votre contenu"}}) }}
       </div> 


<div class="form-group">

                  <div class="col-sm-12">
                   <div class="card-box">

                      <div class="dropdown pull-right">
                       <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                       <i class="mdi mdi-dots-vertical"></i>
                           </a>
                                    </div>

                                    <h4 class="header-title m-t-0 m-b-30">Image</h4>
                                    {{ form_widget(formReclamation.image, {'attr': {'class': 'dropify','data-height':'200'}}) }}

                          </div>
                         </div>
                        </div>








        <button type="submit" class="btn btn-success">Registrer</button>
     
    </div>

{{ form_end (formReclamation)}}
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="width:25%;height:40%;margin-top:-55% ;margin-left:70%" src="images/reclamation.jpg" alt="sing up image">


{% endblock %}



