




<h1>Page reclamation de  {{ Paiement.NomSurCarte }} </h1>
<p>prenom : {{ Paiement.NumCarte }}</p>
<p>email : {{ Paiement.MoisExp }}</p>
<p>contenu : {{ Paiement.AnneeExp }}</p>
<p>contenu : {{ Paiement.CVV }}</p>