
{% extends 'base/base.html.twig ' %}


{% block titre %}
Paiement
{% endblock %} 



    {% block Inscription %}
             

         
              {%endblock%}
              {% block Login %}
          
              {%endblock%}
 

{% block corp%}



<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  
                </div>



<h3 style="color:orange">Page Paiement de  {{ Paiement.NomSurCarte }} </h3>
<br><br>
<p>Numero de la carte : {{ Paiement.NumCarte }}</p>
<br>
<p>Mois d'Expiration : {{ Paiement.MoisExp }}</p>
<br>
<p>Année d'Expiration: {{ Paiement.AnneeExp }}</p>
<br>
<p>CVV : {{ Paiement.CVV }}</p>
<br><br>


<button style="margin-left:30%" class="btn btn-success" ><a href="#" style="color:white">Imprimer PDF</a></button>

{%endblock%}




{% block footer%}

{%endblock%}

