<h1>Page reclamation de  {{ prive.nom }} </h1>
<p>prenom : {{ prive.numeroTel}}</p>
<p>contenu : {{prive.email }}</p>
<p>email : {{prive.nbrPrisecharge}}</p>

 <p>contenu : {{prive.createdAt | date('d/m/Y')}} à {{prive.createdAt | date('H:i')}}</p>
