<h1>Page reclamation de  {{ public.nom }} </h1>
<p>prenom : {{ public.prenom}}</p>
<p>contenu : {{public.email }}</p>
<p>email : {{public.donation}}</p>

 <p>contenu : {{public.createdAt | date('d/m/Y')}} à {{public.createdAt | date('H:i')}}</p>
