

<h1>Page reclamation de  {{ evenement.nom }} </h1>
<p>prenom : {{ evenement.typeE }}</p>
<p>contenu : {{evenement.datedebut | date('d/m/Y')}}</p>
<p>email : {{evenement.datefin | date('d/m/Y')}}</p>

 <p>contenu : {{ evenement.description }}</p>

